.input {
   width: 66%;
   height: 60px;
   border: 1px solid #F5EFDB;
   background-color: transparent;
   font-family: 'Cormorant Upright';
   font-weight: 600;
   font-size: 16px;
   line-height: 175%;
   letter-spacing: 0.04em;
   text-transform: capitalize;
   font-feature-settings: 'tnum' on, 'lnum' on;
   color: #AAAAAA;
   padding: 5px 10px;

}